.color-scheme{
    width: auto;
    height: auto;
    overflow:auto;
    color: rgb(96, 96, 96);
}

.small-board{
    width:50%;

}

.header-text{
    background-color:rgb(214,216,217);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.cool-text{
    background-color:rgb(214,216,217);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}


.background-image{
    background-image: url('background10.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    
}
.div-float{
    float:right;
}
.display-fen{
    padding-top: 40px;
    color:white;
    text-align: center;
    font-size:20px;
}

.restartBtn{
    font-size:40px
}
#table-body{
    display:none;
}

